@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: Merri;
  font-style: normal;
  font-weight: 300;
  src: url(../assets/fonts/Merriweather/Merriweather-Light.ttf); }

@font-face {
  font-family: Merri;
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/Merriweather/Merriweather-Regular.ttf); }

@font-face {
  font-family: Merri;
  font-style: normal;
  font-weight: 600;
  src: url(../assets/fonts/Merriweather/Merriweather-Bold.ttf); }

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  src: url(../assets/fonts/Raleway/Raleway-Light.ttf); }

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  src: url(../assets/fonts/Raleway/Raleway-Medium.ttf); }

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  src: url(../assets/fonts/Raleway/Raleway-Bold.ttf); }

@font-face {
  font-family: PTsans;
  font-style: normal;
  font-weight: 300;
  src: url(../assets/fonts/PT_Sans/PTSans-Regular.ttf); }

@font-face {
  font-family: PTsans;
  font-style: normal;
  font-weight: 600;
  src: url(../assets/fonts/PT_Sans/PTSans-Bold.ttf); }

@font-face {
  font-family: PTserif;
  font-style: normal;
  font-weight: 300;
  src: url(../assets/fonts/PT_Serif/PTSerif-Regular.ttf); }

@font-face {
  font-family: PTserif;
  font-style: normal;
  font-weight: 600;
  src: url(../assets/fonts/PT_Serif/PTSerif-Bold.ttf); }

body {
  padding: 18px;
  background-color: #333;
  color: #ddd;
  hyphens: auto;
  font-weight: 400;
  font-size: 18px;
  font-family: PTsans;
  line-height: 130%; }

* {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
p,
blockquote {
  margin-bottom: 1.4em; }

blockquote {
  color: #ddd;
  font-family: PTserif; }
  blockquote:before {
    padding-right: 0.1em;
    content: "«"; }
  blockquote:after {
    padding-left: 0.1em;
    content: "»"; }

h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 100%; }

h1 {
  font-size: 47px; }

h2 {
  font-size: 29px; }

h3 {
  font-size: 18px; }

section {
  margin-bottom: 18px; }

.marginalie {
  padding-left: 18px;
  border-left: 2px solid #F29F05;
  color: #F29F05;
  font-family: PTserif; }
  @media only screen and (min-width: 50rem) {
    .marginalie {
      float: left;
      margin-bottom: 0;
      margin-left: -20rem;
      padding-right: 1em;
      padding-left: 1em;
      width: 20rem;
      border-left: none;
      text-align: right; } }

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -18px -18px 18px -18px;
  padding: 18px;
  height: 100vh;
  background-image: url(../images/NGC_2818_by_the_Hubble_Space_Telescope.jpg);
  background-position: center;
  background-size: cover;
  transition: height 200ms ease; }
  @media only screen and (min-width: 50rem) {
    .main-header {
      max-height: 80vh;
      height: 500px; } }
  .main-header__headline {
    max-width: 80vw;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.75); }

.main-content {
  padding: 18px;
  max-width: 60em; }
  @media only screen and (min-width: 50rem) {
    .main-content {
      margin-left: 20rem; } }

/*# sourceMappingURL=main.css.map */