body {
    padding: $m;
    background-color: $bg-color;
    color: $text-color;
    hyphens: auto;
    font-weight: $fw-normal;
    font-size: $base-font-size;
    font-family: $font-family-sans;
    line-height: $lh-default;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
blockquote {
    margin-bottom: 1.4em;
}

blockquote {
    color: $text-color;
    font-family: $font-family-serif;

    &:before {
        padding-right: 0.1em;
        content: "«";
    }

    &:after {
        padding-left: 0.1em;
        content: "»";
    }
}


h1,
h2,
h3,
h4 {
    font-weight: $fw-bold;
    line-height: $lh-tight;
}


h1 {
    font-size: $xl;
}

h2 {
    font-size: $l;
}

h3 {
    font-size: $m;
}


section {
    margin-bottom: $m;
}