.marginalie {
    font-family: $font-family-serif;
    color: $deco-color;
    padding-left: $m;
    border-left: $border-width solid $deco-color;
    /*padding-left: 1em;
    padding-right: 1em;
    width: 20rem;
    float: left;
    margin-left: -20rem;
    margin-bottom: 0;
    text-align: right;*/
}