.marginalie {
    padding-left: $m;
    border-left: $border-width solid $deco-color;
    color: $deco-color;
    font-family: $font-family-serif;

    @media only screen and (min-width: $vp-small) {
        float: left;
        margin-bottom: 0;
        margin-left: -20rem;
        padding-right: 1em;
        padding-left: 1em;
        width: $width-marginalie;
        border-left: none;
        text-align: right;
    }
    
}

.main-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: (-$m) (-$m) ($m) (-$m);
    padding: $m;
    height: 100vh;
    background-image: url(../images/NGC_2818_by_the_Hubble_Space_Telescope.jpg);
    background-position: center;
    background-size: cover;
    transition: height $trans-mid ease;

    @media only screen and (min-width: $vp-small) {
        max-height: 80vh;
        height: 500px
    }

    &__headline{
        max-width: 80vw;
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    }
}

.main-content{
    padding: $m;
    max-width: 60em;

    @media only screen and (min-width: $vp-small) {
        margin-left: $width-marginalie
    }
}